//color pallette
$themeContrast: #FAB3A9;
$themeCompliment: #8AA29E;
$themeDark: #7d7a4c;
$themeMedium: #ffeefc2;
$themeLight: #FFFcE5;
$themeGrey: mediumgrey;
$themeText: #363732;

//body size
$bodyWidth: 95%;
$bodyHeight: 100%;


