@import "template";
//some variables for the table width:
$test_step_column: .35;
$expected_result_column: .30;
$puf_column: .10;
$last_status_column: 1 - $test_step_column - $expected_result_column - $puf_column;

.failure_details { 
		display: none;
	}
.testing_state .test_fail:checked ~ .failure_details{
//tilde is sibling > direct descendant
		display: inline-block;
		*{
			display: inline-block;
		}
	}

#testing_table {
	width: 100%;
	.result_details {
		float: right;
		align: left;
	}
	th:nth-child(1), td:nth-child(1){
		width: $bodyWidth * $test_step_column;
	}
	th:nth-child(2), td:nth-child(2){
		width: $bodyWidth * $expected_result_column;
	}
	th:nth-child(3), td:nth-child(3){
		width: $bodyWidth * $puf_column;
	}
	th:nth-child(4), td:nth-child(4){
		width: $bodyWidth * $last_status_column;
	}
}

span.decorator_overview{
	margin: auto;
}


.decorator_overview {
	&.result_state.test_fail {
		background-color: $themeContrast;
	}
	&.result_state.test_pass {
		background-color: $themeDark;
		color: $themeLight;
	}
	&.result_state {
		float: right;
	}
	&.result_details {
		display: block;
	}
	&.result_time_ago {
		font-style: oblique;
		font-size: 1.2em;
	}
}